<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"></head>

<body>

<div th:replace="common/navbar :: common-navbar"></div>


<div class="container">

    <div class="starter-template">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1 class="text-center" th:text="#{copy.h1.text}">Who we are</h1>
                    <p class="lead" th:text="#{copy.p.text}" ></p>
                </div>
            </div>
        </div>
    </div>

</div><!-- /.container -->







<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">


        <div class="col-lg-4 span4">
            <a href="https://www.linkedin.com/in/alaeddinezaier">
                <img class="img-circle"
                     src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/4/000/1b2/024/0278d43.jpg"
                     alt="Alaeddine Zaier" width="140" height="140" />
            </a>
            <h2>Alaeddine Zaier <small class="member-title">CTO</small></h2>
            <div class="span4 collapse-group">
                <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
            </div>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4 span4">
            <a href="https://www.linkedin.com/in/houssemzaier">
                <img class="img-circle"
                     src="https://media.licdn.com/media/AAEAAQAAAAAAAAilAAAAJGQ3Y2JhMDhhLTVlZjQtNDI2Mi1hMTIxLWIzMTU1MDc1NWU2Yw.jpg"
                     alt="Houssem Zaier" width="140" height="140" />
            </a>
            <h2>Houssem Zaier <small class="member-title">CEO</small></h2>
            <div class="span4 collapse-group">
                <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
            </div>
        </div><!-- /.col-lg-4 -->


        <div class="col-lg-4 span4" >
            <a href="https://www.linkedin.com/in/refka-zaier-756aab133">
                <img class="img-circle"
                     src="https://media.licdn.com/media/AAEAAQAAAAAAAAhDAAAAJGQxOTI1YjQ2LWFiZTMtNDMyMy04YzY2LWU0ZTJiY2E4MTBhOA.jpg"
                     alt="Refka Zaier" width="140" height="140" />
            </a>
            <h2>Refka Farid <small class="member-title">Project Lead</small></h2>
            <div class="span4 collapse-group">
                <p class="collapse text-justify" th:text="#{copy.project.lead.intro}"></p>
                <p><a class="btn btn-primary btn-collapse" href="#" role="button" th:text="#{copy.viewdetails.button}"></a></p>
            </div>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->






    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/browser-icon-chrome.png}" />
        <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
            Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-left" th:src="@{/images/browser-icon-firefox.png}" />
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />

    <div class="featurette">
        <img class="featurette-image pull-right" th:src="@{/images/browser-icon-safari.png}" />
        <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p>&copy; 2017 Tutsviews.com &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->




<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div th:replace="common/header :: before-body-scripts"></div>

</body>
</html>
